{% extends "base.html" %}

{% block title %}Logout – FastDel{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <div class="card shadow-sm border-0 rounded-4 p-4">
        <h4 class="fw-bold mb-3">Logout</h4>

        <p>Are you sure you want to logout?</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button class="btn btn-danger">Logout</button>
            <a href="/" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
