{% extends "admin/admin_base.html" %}

{% block admin_content %}
<div class="container py-5 text-center">

  <div class="card shadow-sm p-4">
    <h4 class="mb-3">Delete Product</h4>
    <p>Are you sure you want to delete <strong>{{ product.product_name }}</strong>?</p>

    <form method="POST">
      {% csrf_token %}
      <button class="btn btn-danger">Yes, Delete</button>
      <a href="{% url 'all_products' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>

</div>
{% endblock %}
